<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID </th>
            <th> Employee Name </th>
            <th> DOB </th>
            <th> Contact </th>
            <th> Aadhaar </th>
            <th> PAN </th>
            <th> Rate </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.id }} </td>
            <td> {{ employee.employee_name }} </td>
            <td> {{ employee.dob }} </td>
            <td> {{ employee.contact }} </td>
            <td> {{ employee.aadhaar }} </td>
            <td> {{ employee.pan }} </td>
            <td> {{ employee.rate }} </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
