<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Employee Name: </b></label> {{employee.employee_name}}
    </div>
    <div>
        <label> <b> DOB: </b></label> {{employee.dob}}
    </div>
    <div>
        <label> <b> Res. Address: </b></label> {{employee.res_address}}
    </div>
    <div>
        <label> <b> Perm. Address: </b></label> {{employee.perm_address}}
    </div>
    <div>
        <label> <b> Contact: </b></label> {{employee.contact}}
    </div>
    <div>
        <label> <b> Acc. Number: </b></label> {{employee.acc_number}}
    </div>
    <div>
        <label> <b> IFSC: </b></label> {{employee.ifsc}}
    </div>
    <div>
        <label> <b> ESIC: </b></label> {{employee.esic}}
    </div>
    <div>
        <label> <b> PT: </b></label> {{employee.pt}}
    </div>
    <div>
        <label> <b> Aadhaar: </b></label> {{employee.aadhaar}}
    </div>
    <div>
        <label> <b> PAN: </b></label> {{employee.pan}}
    </div>
    <div>
        <label> <b> Rate: </b></label> {{employee.rate}}
    </div>
</div>