<div class="col-md-6 offset-md-3">
    <h3> Create Employee Record </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Employee Name</label>
            <input type="text" class ="form-control" id = "employee_name"
                [(ngModel)] = "employee.employee_name" name = "employee_name">
        </div>
    
        <div class="form-group">
            <label>DOB</label>
            <input type="date" class ="form-control" id = "dob"
                [(ngModel)] = "employee.dob" name = "dob">
        </div>

        <div class="form-group">
            <label>Res. Address</label>
            <input type="text" class ="form-control" id = "res_address"
                [(ngModel)] = "employee.res_address" name = "res_address">
        </div>

        <div class="form-group">
            <label>Perm. Address</label>
            <input type="text" class ="form-control" id = "perm_address"
                [(ngModel)] = "employee.perm_address" name = "perm_address">
        </div>

        <div class="form-group">
            <label>Contact</label>
            <input type="text" class ="form-control" id = "contact"
                [(ngModel)] = "employee.contact" name = "contact">
        </div>

        <div class="form-group">
            <label>Acc. Number</label>
            <input type="text" class ="form-control" id = "acc_number"
                [(ngModel)] = "employee.acc_number" name = "acc_number">
        </div>

        <div class="form-group">
            <label>IFSC</label>
            <input type="text" class ="form-control" id = "ifsc"
                [(ngModel)] = "employee.ifsc" name = "ifsc">
        </div>

        <div class="form-group">
            <label>ESIC</label>
            <input type="text" class ="form-control" id = "esic"
                [(ngModel)] = "employee.esic" name = "esic">
        </div>

        <div class="form-group">
            <label>PT</label>
            <input type="text" class ="form-control" id = "pt"
                [(ngModel)] = "employee.pt" name = "pt">
        </div>

        <div class="form-group">
            <label>Aadhaar</label>
            <input type="text" class ="form-control" id = "aadhaar"
                [(ngModel)] = "employee.aadhaar" name = "aadhaar">
        </div>

        <div class="form-group">
            <label>PAN</label>
            <input type="text" class ="form-control" id = "pan"
                [(ngModel)] = "employee.pan" name = "pan">
        </div>

        <div class="form-group">
            <label>Rate</label>
            <input type="text" class ="form-control" id = "rate"
                [(ngModel)] = "employee.rate" name = "rate">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 